@import "reset";
@import "product-images-slider";
@import "accordion";
@import "_content";
@import "_custom-filter";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: inherit;
    background-color: #f8f8fc;
  }
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
input::-webkit-input-placeholder {
  color: #b2b3bd;
}
input::-moz-input-placeholder {
  color: #b2b3bd;
}

// css checkbox
.custom-checkbox-square {
  width: 22px;
  height: 22px;
}
.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div div > svg {
  display: block;
  color: white;
}

.clock {
  background-image: linear-gradient(to right bottom, #ED213A, #93291E);
}

.profile:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//zoom
.zoom-enter .content {
  opacity: 0;
  transform: scale(0.5);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.5);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  height: 50px;
  border-radius: 8px;
}
.product-info {
  .option {
    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      flex-direction: column;
    }
  }
  .edit {
    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-top: 10px;
      width: 180px;
      font-size: 11px;
    }
    @media screen and (min-width: 769px) and (max-width: 940px) {
      margin-top: 10px;
      width: 100px;
      font-size: 14px;
    }
    @media (max-width: 600px) {
      margin-top: 10px;
      width: 100px;
      font-size: 14px;
    }
  }
  .short-edit {
    @media screen and (min-width: 1024px) and (max-width: 1143px) {
      overflow: hidden;
    }
  }
}
// ProductDetailPage
.ProductDetail {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 350px;
  padding: 15px 0px;
  gap: 0 30px;
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}
.Information-product {
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  @media (min-width: 680px)and (max-width: 768px) {
    grid-template-columns: 580px minmax(0, 1fr);
    }
  @media (min-width: 600px)and (max-width: 679px) {
    grid-template-columns: 580px minmax(0, 1fr);
    }
  @media (min-width: 551px)and (max-width: 599px) {
  grid-template-columns: 500px minmax(0, 1fr);
  }
  @media (max-width: 550px) {
    grid-template-columns: 450px minmax(0, 1fr);
    }
    @media (max-width: 450px) {
      grid-template-columns: 350px minmax(0, 1fr);
      }

}
@media (max-width: 768px) {
  .Information-product > *:nth-child(1) {
    align-items: center;
    grid-row: 1;
  }

  .Information-product > *:nth-child(2) {
    grid-row: 2;
  }
}

.ProductDescription {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 460px;
  margin: 20px 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}
.product-description {
  padding: 30px;
}
.product-parameters {
  padding-top: 30px;
  padding-left: 10px;
}

table {
  border-collapse: collapse;
}
td {
  text-align: left;
  padding: 20px 20px 20px 20px;
}
.table-product tr:nth-child(even) {
  background-color: #f6f6f6;
}
// cart
.cart {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 400px;
  gap: 0 10px;
  align-items: flex-start;
}
@media (max-width: 1280px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
}
// payment
.payment {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 410px;
  gap: 0 20px;
  margin-top: 50px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .payment {
    grid-template-columns: 1fr 1fr;
  }
  .payment > *:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  .payment > *:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .payment > *:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .payment > *:nth-child(4) {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  .payment {
    grid-template-columns: 1fr;
  }
  .payment > *:nth-child(1) {
    grid-row: 1;
  }
  .payment > *:nth-child(2) {
    grid-row: 2;
  }
  .payment > *:nth-child(3) {
    grid-row: 3;
  }
  .payment > *:nth-child(4) {
    grid-row: 4;
  }
}

.cart-home:hover .cart-child {
  opacity: 1;
  visibility: visible;
}

//page
.pagination {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 20px;
}
.page-num {
  padding: 9px 11px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid #f2f3f9;
  background-color: #ffffff;
}
.page-num:hover {
  background-color: #f6f6f6;
}
.active .page-num {
  background-color: #d72229;
  color: white;
}

// product filter
.wrapper-product {
  display: grid;
  grid-template-columns: 290px minmax(0, 1fr);
  gap: 0 20px;
  margin-top: 20px;
  align-items: flex-start;
  max-height: fit-content;
}
@media (max-width: 1270px) {
  .wrapper-product {
    display: flex;
    flex-direction: column;
  }
}

//feelback
.feelback {
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  @media (max-width: 1279px) {
    grid-template-columns: 1fr;
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-green-500;
}

//skeleton
.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-image: 40px 100%;
  background-image: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}
@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

//message
.chat {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  gap: 0 10px;
  align-items: flex-start;
  border: 5px solid #dbdbdb;
  border-radius: 8px;
  @media (max-width:768px) {
    grid-template-columns:1fr;
    height: auto;
  }
}
.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
  --str-chat__avatar-background-color: #bf360c;
  --str-chat__message-bubble-color: #00695c;
  --str-chat__card-attachment-color: #00695c; // Setting text color of link attachments
}

.str-chat {
  --str-chat__border-radius-circle: 6px;
}

.str-chat__theme-light {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__avatar-background-color: #bf360c;
}

.str-chat__channel {
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 8px;
  padding: 8px;
}
.str-chat__channel-list {
  border-right: 5px solid #dbdbdb;
}
.str-chat__channel-header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 12px;
  background-color: #dbdbdb;
}
.str-chat__message-simple-text-inner {
  font-weight: 500;
}
.str-chat__message-simple-timestamp {
  font-weight: 500;
}
.str-chat__message-status {
  font-weight: 500;
}
